## Pandas Test

### 链接两个相同行数的表（例如label表和features表）

In [1]:
import pandas as pd
import numpy as np

In [2]:
label_table=pd.DataFrame(np.random.rand(10,1),columns=['label'])
feature_table = pd.DataFrame(np.random.rand(10,4),columns=['f1','f2','f3','f4'])
print(label_table)
print(feature_table)

      label
0  0.987088
1  0.813024
2  0.689005
3  0.897038
4  0.993910
5  0.093595
6  0.195583
7  0.097030
8  0.245415
9  0.118596
         f1        f2        f3        f4
0  0.550366  0.528297  0.485124  0.676593
1  0.226436  0.721070  0.355616  0.132010
2  0.026849  0.065694  0.027596  0.090857
3  0.791566  0.033966  0.402950  0.309869
4  0.420086  0.054374  0.962474  0.556698
5  0.632735  0.535316  0.336960  0.325182
6  0.463349  0.152946  0.217863  0.299785
7  0.876772  0.224580  0.910080  0.476660
8  0.129188  0.291416  0.865368  0.733969
9  0.939076  0.482990  0.913257  0.335002

In [3]:
#concat
pd.concat([label_table,feature_table],axis=1)
# 满足我的要求

      label        f1        f2        f3        f4
0  0.987088  0.550366  0.528297  0.485124  0.676593
1  0.813024  0.226436  0.721070  0.355616  0.132010
2  0.689005  0.026849  0.065694  0.027596  0.090857
3  0.897038  0.791566  0.033966  0.402950  0.309869
4  0.993910  0.420086  0.054374  0.962474  0.556698
5  0.093595  0.632735  0.535316  0.336960  0.325182
6  0.195583  0.463349  0.152946  0.217863  0.299785
7  0.097030  0.876772  0.224580  0.910080  0.476660
8  0.245415  0.129188  0.291416  0.865368  0.733969
9  0.118596  0.939076  0.482990  0.913257  0.335002