## Pandas Test

### 链接两个相同行数的表（例如label表和features表）

In [1]:
import pandas as pd
import numpy as np

In [2]:
label_table=pd.DataFrame(np.random.rand(10,1),columns=['label'])
feature_table = pd.DataFrame(np.random.rand(10,4),columns=['f1','f2','f3','f4'])
print(label_table)
print(feature_table)

      label
0  0.632606
1  0.004332
2  0.817545
3  0.019003
4  0.704953
5  0.940746
6  0.030686
7  0.663057
8  0.567935
9  0.872870
         f1        f2        f3        f4
0  0.862746  0.945843  0.010909  0.363646
1  0.302506  0.066073  0.518605  0.875364
2  0.992173  0.579042  0.232997  0.174538
3  0.206648  0.466731  0.933301  0.513507
4  0.977955  0.056595  0.010475  0.249276
5  0.443546  0.482316  0.739564  0.054043
6  0.680589  0.984729  0.452558  0.703832
7  0.949912  0.661279  0.680935  0.995492
8  0.053318  0.856195  0.747588  0.488759
9  0.706534  0.690040  0.899088  0.840678

In [3]:
#concat
pd.concat([label_table,feature_table],axis=1)
# 满足我的要求

      label        f1        f2        f3        f4
0  0.632606  0.862746  0.945843  0.010909  0.363646
1  0.004332  0.302506  0.066073  0.518605  0.875364
2  0.817545  0.992173  0.579042  0.232997  0.174538
3  0.019003  0.206648  0.466731  0.933301  0.513507
4  0.704953  0.977955  0.056595  0.010475  0.249276
5  0.940746  0.443546  0.482316  0.739564  0.054043
6  0.030686  0.680589  0.984729  0.452558  0.703832
7  0.663057  0.949912  0.661279  0.680935  0.995492
8  0.567935  0.053318  0.856195  0.747588  0.488759
9  0.872870  0.706534  0.690040  0.899088  0.840678

### 链接具有相同列的表

- 读取两个csv文件
- 将每个文件中的两列组合起来成为一列
- 根据新组合的一列进行表的merge
- 将数据进行归一化

In [4]:
import glob

files = glob.glob('./demo_data/*csv')
print(files[1:4])

['./demo_data/6.csv', './demo_data/7.csv', './demo_data/5.csv']

In [5]:
test1 = pd.read_csv(files[3])
test2 = pd.read_csv(files[5])

print(test1.head())
print(test2.head())

   Unnamed: 0  gc  length  count
0           0  33     440     86
1           1  87     229      1
2           2  51     671      3
3           3  20     162      2
4           4  42     294    192
   Unnamed: 0  gc  length  count
0           0  33     440     82
1           1  51     671      1
2           2  37     754      5
3           3  42     294    190
4           4  66     416      1

In [6]:
test1['idx'] = test1['gc'].astype(str).str.cat(test1['length'].astype(str),sep='-')
test2['idx'] = test2['gc'].astype(str).str.cat(test2['length'].astype(str),sep='-')

print(test1.head())
print(test2.head())

   Unnamed: 0  gc  length  count     idx
0           0  33     440     86  33-440
1           1  87     229      1  87-229
2           2  51     671      3  51-671
3           3  20     162      2  20-162
4           4  42     294    192  42-294
   Unnamed: 0  gc  length  count     idx
0           0  33     440     82  33-440
1           1  51     671      1  51-671
2           2  37     754      5  37-754
3           3  42     294    190  42-294
4           4  66     416      1  66-416

In [7]:
merge_data = pd.merge(test1[['idx','count']],test2[['idx','count']],on='idx',how='outer',suffixes=['_a','_b']).fillna(0)
merge_data.set_index('idx',inplace=True)
print(merge_data.head())

        count_a  count_b
idx
33-440     86.0     82.0
87-229      1.0      0.0
51-671      3.0      1.0
20-162      2.0      0.0
42-294    192.0    190.0

In [8]:
merge_data = (merge_data-merge_data.mean())/(merge_data.max()-merge_data.min())
print(merge_data.head())

         count_a   count_b
idx
33-440  0.185371  0.169462
87-229 -0.075366 -0.076784
51-671 -0.069231 -0.073781
20-162 -0.072298 -0.076784
42-294  0.510524  0.493786

## 找出一列中uniq的类型，然后进行统计

In [9]:
pd_data = pd.read_csv('demo_data/CG.txt',sep='\t')
for tp in pd_data['type'].unique():
    print(pd_data[pd_data['type'] == tp]['depth'])

0     27
1     25
2     71
3     57
4     53
5     55
6     89
7     98
8     63
9      2
10    60
11    12
12    23
Name: depth, dtype: int64
13    30
14    89
15    24
16    77
17    18
18    63
19    68
20    37
21    49
22    90
23    18
24     0
25     0
26    69
Name: depth, dtype: int64
27    11
28    28
29    36
30    29
31    30
32    97
33    80
34    45
35    93
Name: depth, dtype: int64
36    50
37    50
38    79
39    87
40    46
41    86
42    84
43    60
44    22
45    42
46    43
47    96
48    63
49    63
50    59
51     2
52    21
53    32
54    21
55    18
56    79
57    98
58    94
Name: depth, dtype: int64