## Pandas Test

### 链接两个相同行数的表（例如label表和features表）

In [2]:
import pandas as pd
import numpy as np

In [3]:
label_table=pd.DataFrame(np.random.rand(10,1),columns=['label'])
feature_table = pd.DataFrame(np.random.rand(10,4),columns=['f1','f2','f3','f4'])
print(label_table)
print(feature_table)

      label
0  0.538961
1  0.070293
2  0.893145
3  0.649362
4  0.408498
5  0.489013
6  0.992167
7  0.115729
8  0.964818
9  0.012340
         f1        f2        f3        f4
0  0.033857  0.310760  0.329643  0.658334
1  0.376791  0.166780  0.130434  0.510528
2  0.628804  0.986148  0.889918  0.714725
3  0.974871  0.112850  0.663910  0.687845
4  0.170368  0.644470  0.595580  0.823503
5  0.554152  0.882449  0.852842  0.781168
6  0.776213  0.399704  0.757911  0.328923
7  0.787387  0.787427  0.676500  0.611522
8  0.402845  0.283437  0.196224  0.383492
9  0.098337  0.074794  0.114334  0.355195

In [4]:
#concat
pd.concat([label_table,feature_table],axis=1)
# 满足我的要求

      label        f1        f2        f3        f4
0  0.538961  0.033857  0.310760  0.329643  0.658334
1  0.070293  0.376791  0.166780  0.130434  0.510528
2  0.893145  0.628804  0.986148  0.889918  0.714725
3  0.649362  0.974871  0.112850  0.663910  0.687845
4  0.408498  0.170368  0.644470  0.595580  0.823503
5  0.489013  0.554152  0.882449  0.852842  0.781168
6  0.992167  0.776213  0.399704  0.757911  0.328923
7  0.115729  0.787387  0.787427  0.676500  0.611522
8  0.964818  0.402845  0.283437  0.196224  0.383492
9  0.012340  0.098337  0.074794  0.114334  0.355195

### 链接具有相同列的表

- 读取两个csv文件
- 将每个文件中的两列组合起来成为一列
- 根据新组合的一列进行表的merge
- 将数据进行归一化

In [5]:
import glob

files = glob.glob('./demo_data/*csv')
print(files[1:4])

['./demo_data/GL000228.1.csv', './demo_data/GL000215.1.csv', './demo_data/6.csv']

In [8]:
test1 = pd.read_csv(files[3])
test2 = pd.read_csv(files[5])

print(test1.head())
print(test2.head())

   Unnamed: 0  gc  length  count
0           0  33     440     97
1           1  51     671      2
2           2  57      50      3
3           3  20     162      1
4           4  42     294    184
   Unnamed: 0  gc  length  count
0           0  33     440     81
1           1  18     428      1
2           2  51     671      2
3           3  57      50      1
4           4  42     294    195

In [9]:
test1['idx'] = test1['gc'].astype(str).str.cat(test1['length'].astype(str),sep='-')
test2['idx'] = test2['gc'].astype(str).str.cat(test2['length'].astype(str),sep='-')

print(test1.head())
print(test2.head())

   Unnamed: 0  gc  length  count     idx
0           0  33     440     97  33-440
1           1  51     671      2  51-671
2           2  57      50      3   57-50
3           3  20     162      1  20-162
4           4  42     294    184  42-294
   Unnamed: 0  gc  length  count     idx
0           0  33     440     81  33-440
1           1  18     428      1  18-428
2           2  51     671      2  51-671
3           3  57      50      1   57-50
4           4  42     294    195  42-294

In [16]:
merge_data = pd.merge(test1[['idx','count']],test2[['idx','count']],on='idx',how='outer',suffixes=['_a','_b']).fillna(0)
merge_data.set_index('idx',inplace=True)
print(merge_data.head())

        count_a  count_b
idx
33-440     97.0     81.0
51-671      2.0      2.0
57-50       3.0      1.0
20-162      1.0      0.0
42-294    184.0    195.0

In [17]:
merge_data = (merge_data-merge_data.mean())/(merge_data.max()-merge_data.min())
print(merge_data.head())

         count_a   count_b
idx
33-440  0.248272  0.192806
51-671 -0.033627 -0.032265
57-50  -0.030659 -0.035114
20-162 -0.036594 -0.037963
42-294  0.506433  0.517593